

.header {
  padding-top: 21px;
  min-height: 660px;
  color: white;
  background-position: center;
  background-size: cover;
  position: relative;

  &-info {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    display: flex;
    //justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;


    &-title {
      font-size: 45px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: white;
      margin-bottom: 0;
    }

    &-detail {
      font-size: 15px;
      color: white;
      margin-right: 16px;
    }
  }
}

.btn {
  height: 45px;
  padding: 0 24px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 30px 15px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: white;
  white-space: nowrap;

  &-default {
    font-weight: normal;
    opacity: 0.8;
  }
}