@import "styles";
@import "styles/vars";

.layout {
  padding-right: 86px;
  padding-left: 86px;
}

.button-primary {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  color: white;
  border-radius: 2.5px;
}

.button-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 2.5px;
}

.button-default {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2.5px;
}

.react-responsive-modal-modal {
  border-radius: 5px;
  padding: 0;
  background: black;
  overflow: hidden;
}

.react-responsive-modal-closeButton path {
  fill: #babbc3;
}