@import "styles";
@import "styles/vars";

.layout {
  padding-right: 86px;
  padding-left: 86px;
}

.button-primary {
  background-color: $primaryColor;
  border: 1px solid $primaryColor;
  color: white;
  border-radius: 2.5px;
}

.button-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 2.5px;
}

.button-default {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2.5px;
}

.react-responsive-modal-modal {
  border-radius: 5px;
  padding: 0;
  background: black;
  overflow: hidden;
}

.react-responsive-modal-closeButton path {
  fill: #babbc3;
}

@media(min-width: 1612px) {
  .layout {
    width: 1500px;
    display: block;
    margin: 0 auto;
  }
}

@media(max-width: 1000px) {
  .layout {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media(max-width: 756px) {
  .layout {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media(max-width: 500px) {
  .layout {
    padding-right: 20px;
    padding-left: 20px;
  }
}